# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ/GoLand project files
.idea 
swagger-diff.iml

# Don't commit dependencies, manage using dep
vendor
